extends templates/base

block variables
  - var bodyClass = 'main'

block styles
  link(type="text/css", rel="stylesheet", href="css/accordions.css")

block title
  |accordion
block body
  .container
    .row
      .col-12
        .accordions
          .accordion-wrap
            .accordion-head.active
              button(data-accordion-activate="1") Вкладка 1
            .accordion-body.active(data-accordion-activate="1")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!
          .accordion-wrap
            .accordion-head
              button(data-accordion-activate="2") Вкладка 2
            .accordion-body(data-accordion-activate="2")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!
          .accordion-wrap
            .accordion-head
              button(data-accordion-activate="3") Вкладка 3
            .accordion-body(data-accordion-activate="3")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cum debitis doloremque magni nihil quam quisquam quod, repellat sit. Asperiores autem consequatur consequuntur dolore fuga fugit ipsam iste nemo!