extends templates/base

block variables
  - var bodyClass = 'main'

block styles
  link(type="text/css", rel="stylesheet", href="css/filters.css")

block title
  |filter
block body
  .container
    .row
      .col-12
        .grid-filter-buttons
          ul
            li.active
              button(data-filter="*") Все
            li
              button(data-filter="category-1") 1
            li
              button(data-filter="category-2") 2
            li
              button(data-filter="category-3") 3
            li
              button(data-filter="category-4") 4
    .row.filter-grid
      .col-4.category-1
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-1
      .col-4.category-1
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-1
      .col-4.category-1
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-1
      .col-4.category-2
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-2
      .col-4.category-2
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-2
      .col-4.category-2
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-2
      .col-4.category-3
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-3
      .col-4.category-3
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-3
      .col-4.category-3
        .group
          h1 Lorem ipsum dolor sit amet.
          p.tag .category-3