extends templates/base

block variables
  - var bodyClass = 'main'

block styles
  link(type="text/css", rel="stylesheet", href="css/getInfoFromServer.css")

block title
  |get information from server
block body
  .container
    .col-12
      .filter
        .select
          select(name='userId')
            option(value='', selected) Выбор автора
            - for (var x = 1; x < 12; x++)
              option(value=x )= x
        button.send_request(data-template="template") получить данные
    .col-12.get_content
    .col-12
      .template#template
        .content-wrap
          .id @id@
          .image
            img(data-src="@img@")
          .head @head@
          .content @content@