extends templates/base

block variables
  - var bodyClass = 'main'

block title
  |index
block body
  .container-fluid
    .row
      .col-md-6.grid-item
        p col-md-6
  .container
    .row
      .col-12.col-xs-8.col-sm-6.col-md-3.col-lg-1.grid-item
        p col-12
        p 576 - col-xs-8
        p 768 - col-sm-6
        p 992 - col-md-3
        p 1200 - col-lg-132
      .col-12
        .breadcrumbs
          ol
            li
              a(href="#") test1
            li test
      .col-12
        progress(value="20" max="100")
      .col-12
        .pagination
          ul
            li
              a(href="#").page-number.prev
                i.fas.fa-angle-left
            li
              a(href="#").page-number.current 1
            li
              a(href="#").page-number 2
            li
              a(href="#").page-number 3
            li
              a(href="#").page-number.dots ...
            li
              a(href="#").page-number 6
            li
              a(href="#").page-number.next
                i.fas.fa-angle-right