extends templates/base

block variables
  - var bodyClass = 'main'

block styles
  link(type="text/css", rel="stylesheet", href="css/menu.css")

block title
  |menu
block body
  .container
    .col-12
      nav.menu-container
        button.show-menu
          i.fas.fa-bars
        ul.menu
          li.menu-item
            a(href='#') link 1
          li.menu-item.menu-item-has-children
            a(href='#') link 2
            ul.sub-menu
              li.menu-item
                a(href='#') link 2.1
              li.menu-item
                a(href='#') link 2.2
              li.menu-item
                a(href='#') link 2.3
              li.menu-item
                a(href='#') link 2.4
          li.menu-item
            a(href='#') link 3
          li.menu-item.menu-item-has-children
            a(href='#') link 4
            ul.sub-menu
              li.menu-item
                a(href='#') link 4.1
              li.menu-item.menu-item-has-children
                a(href='#') link 4.2
                ul.sub-menu
                  li.menu-item
                    a(href='#') link 4.2.1
                  li.menu-item
                    a(href='#') link 4.2.2
                  li.menu-item
                    a(href='#') link 4.2.3
                  li.menu-item
                    a(href='#') link 4.2.4
              li.menu-item
                a(href='#') link 4.3
              li.menu-item.menu-item-has-children
                a(href='#') link 4.4
                ul.sub-menu
                  li.menu-item
                    a(href='#') link 4.4.1
                  li.menu-item
                    a(href='#') link 4.4.2
                  li.menu-item
                    a(href='#') link 4.4.3
                  li.menu-item
                    a(href='#') link 4.4.4
          li.menu-item
            a(href='#') link 5