extends templates/base

block variables
  - var bodyClass = 'main'

block styles
  link(type="text/css", rel="stylesheet", href="css/tabs.css")

block title
  |tabs
block body
  .container
    .row
      .col-12
        .tabs
          .tabs-wrap
            .tabs-heads
              .tabs-head.active(data-tab-activate="first")
                button(type="button") Tab 1
              .tabs-head(data-tab-activate="second")
                button(type="button") Отзывы
              .tabs-head(data-tab-activate="third")
                button(type="button") Tab 3
            .tabs-bodys
              .tabs-head.tabs-head-mobile.active(data-tab-activate="first")
                button(type="button") Tab 1
              .tabs-body.active(data-tab-activate="first")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, vero.1
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, vero.1
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, vero.1
                p#one Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, vero.1 anchor
              .tabs-head.tabs-head-mobile(data-tab-activate="second")
                button(type="button") Отзывы
              .tabs-body(data-tab-activate="second")
                // TODO: начало отзыва
                .review-wrap
                  p.review-name Test name1
                  p.review-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita necessitatibus nemo nulla perferendis quos repellat sequi totam voluptates. Ab, aspernatur commodi consequatur, cum esse exercitationem facilis fugiat illo libero minus optio quam quas repudiandae sint soluta vitae voluptatibus! Assumenda, autem, beatae dolores excepturi facere ipsam nihil odio placeat provident quidem reprehenderit ullam unde voluptatem? Cupiditate eligendi eum expedita hic impedit libero mollitia repellat rerum tenetur vel! A ab ad alias at beatae blanditiis consequatur cupiditate deleniti dicta distinctio doloremque eligendi est et eveniet excepturi exercitationem explicabo harum impedit ipsa, ipsum iste laborum magnam magni maiores minima nam necessitatibus nostrum officiis placeat quia quidem recusandae rem repudiandae saepe sequi tenetur vero! Accusamus ad aliquam aliquid animi assumenda autem commodi corporis delectus dolorem dolores ducimus eaque eos, error est et excepturi facere facilis fuga illum incidunt inventore ipsum itaque iusto, labore libero nihil nobis obcaecati officiis pariatur perspiciatis possimus quae quis ratione rem similique tempore totam! Autem inventore ipsum suscipit voluptatem. A aliquid amet atque blanditiis consequuntur cupiditate delectus deleniti distinctio, dolorem eveniet explicabo facere in inventore ipsam, iste minima nam nulla officia quod repellat repellendus sequi sint sit tempore velit vitae voluptate. Accusamus ipsam, non obcaecati officiis quia quis voluptatem? Culpa?
                // TODO: конец отзыва
                .review-wrap
                  p.review-name Test name2
                  p.review-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita necessitatibus nemo nulla perferendis quos repellat sequi totam voluptates. Ab, aspernatur commodi consequatur, cum esse exercitationem facilis fugiat illo libero minus optio quam quas repudiandae sint soluta vitae voluptatibus! Assumenda, autem, beatae dolores excepturi facere ipsam nihil odio placeat provident quidem reprehenderit ullam unde voluptatem? Cupiditate eligendi eum expedita hic impedit libero mollitia repellat rerum tenetur vel! A ab ad alias at beatae blanditiis consequatur cupiditate deleniti dicta distinctio doloremque eligendi est et eveniet excepturi exercitationem explicabo harum impedit ipsa, ipsum iste laborum magnam magni maiores minima nam necessitatibus nostrum officiis placeat quia quidem recusandae rem repudiandae saepe sequi tenetur vero! Accusamus ad aliquam aliquid animi assumenda autem commodi corporis delectus dolorem dolores ducimus eaque eos, error est et excepturi facere facilis fuga illum incidunt inventore ipsum itaque iusto, labore libero nihil nobis obcaecati officiis pariatur perspiciatis possimus quae quis ratione rem similique tempore totam! Autem inventore ipsum suscipit voluptatem. A aliquid amet atque blanditiis consequuntur cupiditate delectus deleniti distinctio, dolorem eveniet explicabo facere in inventore ipsam, iste minima nam nulla officia quod repellat repellendus sequi sint sit tempore velit vitae voluptate. Accusamus ipsam, non obcaecati officiis quia quis voluptatem? Culpa?
                .review-wrap
                  p.review-name Test name3
                  p.review-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita necessitatibus nemo nulla perferendis quos repellat sequi totam voluptates. Ab, aspernatur commodi consequatur, cum esse exercitationem facilis fugiat illo libero minus optio quam quas repudiandae sint soluta vitae voluptatibus! Assumenda, autem, beatae dolores excepturi facere ipsam nihil odio placeat provident quidem reprehenderit ullam unde voluptatem? Cupiditate eligendi eum expedita hic impedit libero mollitia repellat rerum tenetur vel! A ab ad alias at beatae blanditiis consequatur cupiditate deleniti dicta distinctio doloremque eligendi est et eveniet excepturi exercitationem explicabo harum impedit ipsa, ipsum iste laborum magnam magni maiores minima nam necessitatibus nostrum officiis placeat quia quidem recusandae rem repudiandae saepe sequi tenetur vero! Accusamus ad aliquam aliquid animi assumenda autem commodi corporis delectus dolorem dolores ducimus eaque eos, error est et excepturi facere facilis fuga illum incidunt inventore ipsum itaque iusto, labore libero nihil nobis obcaecati officiis pariatur perspiciatis possimus quae quis ratione rem similique tempore totam! Autem inventore ipsum suscipit voluptatem. A aliquid amet atque blanditiis consequuntur cupiditate delectus deleniti distinctio, dolorem eveniet explicabo facere in inventore ipsam, iste minima nam nulla officia quod repellat repellendus sequi sint sit tempore velit vitae voluptate. Accusamus ipsam, non obcaecati officiis quia quis voluptatem? Culpa?
              .tabs-head(data-tab-activate="third")
                button(type="button") Tab 3
              .tabs-body.tabs-head-mobile(data-tab-activate="third")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, vero.3
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, vero.3
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, vero.3