body
	&.modal-open
		overflow: hidden
		padding-right: 17px
		@media (max-width: 991px)
			padding-right: 0

.modal
	&-container
		display: none
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0

	&-wrap
		display: flex
		justify-content: center
		align-items: center
		height: 100%
		background-color: rgba(0, 0, 0, .7)

	&-close
		position: absolute
		top: -25px
		right: -25px
		+display-flex
		align-items: center
		justify-content: center
		padding: 0
		background-color: transparent
		border: 2px solid #ffffff
		border-radius: 50%
		width: 23px
		height: 23px
		color: #fff
		cursor: pointer

	&-content
		position: relative
		padding: 10px
		width: fit-content
		max-width: 900px
		background-color: #ffffff
