@import "vars"
@import "functions"
@import "mixins"

.accordions
	margin-bottom: 20px
	.accordion
		&-wrap
			display: flex
			flex-wrap: wrap
			&:not(:last-child)
				margin-bottom: 10px
		&-head
			width: 100%
			border: 1px solid color(border)
			transition: .5s
			border-radius: 10px
			button
				color: color(border)
				position: relative
				border: none
				background-color: transparent
				padding: 10px
				width: 100%
				text-align: left
				cursor: pointer
				outline: none
				transition: .5s
				&:after
					content: ''
					position: absolute
					top: 50%
					right: 10px
					display: block
					transform: translateY(-50%)
					border: 6px solid transparent
					border-bottom: none
					border-top: 10px solid color(border)
					transition: .5s
			&:hover
				border-color: #000
				button
					color: #000
					&:after
						border-top-color: #000
			&.active
				border-color: #000
				border-bottom-left-radius: 0
				border-bottom-right-radius: 0
				& + .accordion-body
					border-color: #000
				button
					color: #000
					&:after
						border-top: none
						border-bottom: 10px solid #000
		&-body
			display: none
			overflow: hidden
			padding:  20px 10px
			border: 1px solid color(border)
			border-top: none
			width: 100%
			border-bottom-left-radius: 10px
			border-bottom-right-radius: 10px
			&.active
				display: block
			.form-group
				&:last-child
					margin-bottom: 0
