@import "vars"
@import "functions"
@import "mixins"

.grid-filter-buttons
	ul
		list-style: none
		+display-flex
		justify-content: center
		align-items: center
		margin: 0 0 20px

		li
			&:not(:last-child)
				margin-right: 15px

			&.active
				button
					cursor: default
					pointer-events: none

.filter-grid
	min-height: 200px
	+display-flex
	align-items: center
	justify-content: center
	div
		margin-bottom: 15px
	img
		display: block
		margin: 0 auto
		width: 100%
		max-height: 215px
		object-fit: none
	&.load
		position: relative
		&:before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translateY(-50%) translateX(-50%)
			width: 50px
			height: 50px
			border-radius: 50%
			border: 5px solid #000
			border-top-color: transparent
			animation: rotate 1s infinite
			z-index: 2
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: #ffffff
			z-index: 1
	.hide,
	.show
		animation-fill-mode: forwards !important

	.hide
		animation: hide 1s
		display: none

	.show
		animation: show 1s
		display: block
.load-content
	position: relative
	overflow: hidden
	transition: .5s
	height: 400px
	&:before
		content: ''
		position: absolute
		top: 50%
		left: 50%
		transform: translateY(-50%) translateX(-50%)
		width: 50px
		height: 50px
		border-radius: 50%
		border: 5px solid #000
		border-top-color: transparent
		animation: rotate 1s infinite
		z-index: 3
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		display: block
		background-color: #ffffff
		z-index: 2



@keyframes hide
	0%
		opacity: 1
		transform: scale(1)
	100%
		opacity: 0
		transform: scale(0)
		display: none

@keyframes show
	0%
		opacity: 0
		transform: scale(0)
		display: none
	100%
		opacity: 1
		transform: scale(1)
		display: block

@keyframes rotate
	from
		transform: rotateZ(0)
	to
		transform: rotateZ(360deg)