@import "vars"
@import "functions"
@import "mixins"

.get_content
	transition: .5s

.template
	display: none

.filter
	--border-color: #000
	--border-color-hover: #000
	.select
		position: relative
		&:after
			content: ""
			display: block
			border-style: solid
			border-width: 7px 5px 0 5px
			border-color: var(--border-color) transparent transparent transparent
			pointer-events: none
			position: absolute
			top: 50%
			right: 1rem
			z-index: 1
			margin-top: -3px
			transition: .5s
		&:hover
			&:after
				border-top-color: var(--border-color-hover)
			select
				border-color: var(--border-color-hover)
		select
			display: block
			width: 100%
			padding: 5px 25px 5px 10px
			background: none
			border: 1px solid var(--border-color)
			border-radius: 3px
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none
			font-family: inherit
			color: #444
			cursor: pointer
			transition: .5s

.load
	position: relative
	transition: .5s
	height: 300px !important
	min-height: unset !important
	max-height: unset !important
	overflow: hidden

	&:before
		content: ''
		position: absolute
		top: 50%
		left: 50%
		transform: translateY(-50%) translateX(-50%)
		width: 50px
		height: 50px
		border-radius: 50%
		border: 5px solid #000
		border-top-color: transparent
		animation: rotate 1s infinite
		z-index: 2

	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: #ffffff
		z-index: 1

@keyframes rotate
	from
		transform: rotateZ(0)
	to
		transform: rotateZ(360deg)