@import "vars"
@import "functions"
@import "mixins"

header
	margin-bottom: 50px
	background-color: #000000
	nav
		padding-top: 10px
		padding-bottom: 10px
		ul
			+display-flex
			list-style: none
			margin: 0
			padding: 0
			li
				&:not(:last-child)
					margin-right: 10px
				a
					+split-colors-on-hover(#fff, #000)
					padding: 5px
					display: block