@import "libs"
@import "vars"
@import "functions"
@import "mixins"
@import "icons"
@import "fonts"
@import "normalize"
@import "grid"
@import "components"

.grid-filter-buttons
	ul

		li

			button
				padding: 10px 15px
				+split-colors-on-hover(#fff, #000)

.group
	margin-bottom: 20px
	text-align: center
	border: 1px solid #000
	border-radius: 5px
	padding: 20px

	.tag
		display: block
		width: fit-content
		margin: 10px auto 0
		+split-colors-on-hover(#fff, #000)
		padding: 5px


progress
	color: #ffffff
	background-color: #f3f3f3
	border: 0
	height: 18px
	border-radius: 9px
	overflow: hidden

	&::-webkit-progress-bar
		@extend progress

	+progress-bar-style
		background-color: #00ff00

.menu-container
	position: relative

.show-menu
	display: none
	+split-colors-on-hover(#fff, #000)
	padding: 10px 15px

.menu
	&-item
		padding: 10px 20px
		+split-colors-on-hover(#fff, #000)

		&-has-children
			&:hover
				&:before
					border-color: #000
					transform: rotateZ(135deg)

			&:before
				content: ''
				position: absolute
				top: 12px
				right: 5px
				width: 8px
				height: 8px
				border-left: 2px solid #fff
				border-bottom: 2px solid #fff
				transform: rotateZ(-45deg)
				cursor: pointer
				transition: .5s

			.menu-item-has-children
				&:hover
					&:before
						border-color: #000
						transform: rotateZ(-135deg)

.main
	.send_request
		padding: 10px 20px
		border-radius: 15px
		text-transform: capitalize
		+split-colors-on-hover(#fff, #000)

	.get_content
		margin: 30px 0
		+display-flex
		justify-content: space-between

		.content-wrap
			position: relative
			flex-basis: 49%
			border: 1px solid #000
			padding: 10px
			margin-bottom: 20px
			border-radius: 20px

			.id
				position: absolute
				top: 10px
				right: 10px
				display: flex
				align-items: center
				justify-content: center
				width: 20px
				height: 20px
				border-radius: 50%
				line-height: 20px
				background-color: #000000
				color: #ffffff

			.image
				margin-bottom: 10px

				img
					max-height: 200px
					width: 100%
					object-fit: cover
					border-radius: 10px

			.head
				font-size: 20px
				font-weight: bold
				margin-bottom: 15px

			.content
				font-size: 16px

.review
  &-wrap
    &:not(:last-child)
      margin-bottom: 20px
      padding-bottom: 20px
      border-bottom: 1px solid color(border)
    +display-flex
    >*
      margin: 0
      &:not(:last-child)
        margin-bottom: 15px
  &-name
    font-size: 18px
    color: color(tab)
    margin-top: 0
  &-description
    line-height: 20px



.grid
	&-item
		border: 1px solid #000
		padding-top: 15px
		padding-bottom: 15px

// header styles
//@import "header"

// main page styles
@import "index"

// footer styles
@import "footer"

// MODALS STYLE
//@import "modals"

// media styles
@import "media"