@import "vars"
@import "functions"
@import "mixins"

.menu-container
	.menu
		margin: 0
		padding: 0
		+display-flex
		list-style: none

		&-item
			&-has-children
				position: relative
				&:hover > .sub-menu
					display: flex
					@media (max-width: 991px)
						display: none

	.sub-menu
		@extend .menu
		flex-direction: column
		display: none
		position: absolute
		top: 100%
		left: 0
		width: max-content
		&.show
			display: flex !important
		@media (max-width: 991px)
			position: unset
			width: 100%
		.sub-menu
			top: 0
			left: 100%