@import "libs"
@import "vars"
@import "functions"
@import "mixins"
body
	&.modal-open
		overflow: hidden
		padding-right: 17px
		@media (max-width: 991px)
			padding-right: 0

.modal
	&-container
		display: none
		position: fixed
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 999999
	&-wrap
		display: flex
		justify-content: center
		align-items: center
		height: 100%
		background-color: rgba(0, 0, 0, .7)
	&-close
		position: absolute
		top: -25px
		right: -25px
		+display-flex
		align-items: center
		justify-content: center
		padding: 0
		background-color: transparent
		border: 2px solid #ffffff
		border-radius: 50%
		width: 23px
		height: 23px
		color: #fff
		cursor: pointer
	&-content
		//padding: 10px
		overflow: hidden auto
		max-height: 90vh
		border: none
		border-radius: 0
		+customize-scroll(#000, #fff)
		&-wrap
			position: relative
			width: fit-content
			max-width: 95%
			background-color: #ffffff