@import "mixins"

#wpcf7-f1067-p441-o1
  form
    +display-flex
    width: 100%
    max-width: 600px
    margin: 0 auto
    .wpcf7-response-output
      width: 100%
      margin-top: 0
    p
      width: 100%
      padding: 0 10px
      &:nth-child(2),
      &:nth-child(3)
        width: 50%
        @media (max-width: 600px)
          width: 100%
    #productUrl
      display: none
    input,
    textarea
      &.wpcf7-not-valid
        border-color: #f00
    input[type="submit"]
      outline: none
      box-shadow: none
      font-size: 16px
      cursor: pointer
      display: block
      width: fit-content
      border: 1px solid #6fbf9a
      background-color: #6fbf9a
      color: #ffffff
      padding: 10px 25px
      margin: 0 auto
      text-decoration: none
      text-transform: capitalize
      transition: .5s
      &:hover
        background-color: #ffffff
        color: #6fbf9a

.error404
  .jupiterx-site
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: space-between
    min-height: 100vh

@media (max-width: 1024px)
  .woocommerce
    ul.products
      li.product
        .button
          padding: 15px 20px
@media (max-width: 553px)
  .woocommerce
    ul.products
      &[class*=columns-]
        li.product
          width: 100%
      li.product
        a
          img
            width: 50%
            margin: 0 auto
  .elementor-widget-raven-nav-menu
    .raven-nav-menu-mobile
      .raven-nav-menu
        li
          > a
            color: #000000 !important
            &.raven-menu-item-active,
            &:active
              color: #61ce70 !important