@import "vars"
@import "functions"
@import "mixins"

$mediaWidth: 767px

.tabs
	overflow: hidden
	width: 100%
	margin-bottom: 20px
	*
		box-sizing: border-box
	&-heads
		+display-flex
		border-bottom: 1px solid color(border)
		@media (max-width: $mediaWidth)
			display: none
	&-head
		margin-bottom: -1px
		+active
			background-color: #ffffff
			button
				border-color: color(border)
				color: color(activeTab)
		button
			outline: none
			display: block
			margin: 0
			padding: 20px 25px
			border: 1px solid transparent
			border-bottom: none
			color: color(tab)
			background-color: transparent
			font-size: 16px
			transition: color .5s
			cursor: pointer
			&:hover
				color: color(activeTab)
			@media (max-width: $mediaWidth)
				padding: 10px
				width: 100%
				border-color: color(border)
				border-bottom: 1px solid color(border)
	&-bodys
		border-bottom: 1px solid color(border)
		@media (max-width: $mediaWidth)
			border-top: 1px solid color(border)
		.tabs-head
			display: none
			margin-bottom: 0
			@media (max-width: $mediaWidth)
				display: block
				margin: -1px 0
	&-body
		display: none
		border: 1px solid color(border)
		border-top: none
		border-bottom: none
		padding: 20px
		@media (max-width: $mediaWidth)
			padding: 10px
		&.active
			display: block
		>*
			&:first-child
				margin-top: 0 !important
			&:last-child
				margin-bottom: 0 !important