include mixins

doctype html

block variables

html(lang="en")
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1, width=device-width")
    // STYLES
    block styles

    // inject-css css/header.css

    link(type="text/css", rel="stylesheet", href="css/main.css")
    link(type="text/css", rel="stylesheet", href="css/modal.css")
    // FONTS
    script(src="https://kit.fontawesome.com/1165f21e57.js" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,700")
    title
      block title
  body(class= bodyClass)
    include header

    block body

    // footer
    include footer

    script(src='js/libs-jquery.min.js')
    script(src="js/main-scripts.min.js")