header
  .container
    .row
      .col-12
        nav
          ul
            li
              a(href="index.html") Главная
            li
              a(href="tabs.html") Вкладки
            li
              a(href="filters.html") Фильтр
            li
              a(href="accordions.html") Акордеон
            li
              a(href="getInfoFromServer.html") Получение данных
            li
              a(href="menu.html") Меню