mixin collapse-block(head)
  .collapse-block
    .collapse-block-head
      p= head
    .collapse-block-body
      if(block)
        block
      else
        p A Laparoscopic assisted abdominal myomectomy is performed using just 2 small incisions. One tiny incision for the laparoscope, and a 1.5in incision at the bikini line for fibroid

mixin modal(modalClass)
  .modal-container(class=modalClass)
    .modal-wrap
      .modal-content-wrap
        .modal-close
          i.fas.fa-times
        .modal-content
          if(block)
            block
          else
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur eveniet molestias praesentium sunt. Aliquid eius error, eveniet excepturi exercitationem inventore maiores necessitatibus ullam voluptatem. Ab dicta eius nulla quos sapiente tempore, voluptas. A accusamus accusantium aperiam at beatae consequatur cum deleniti deserunt dolore dolorem fuga impedit inventore ipsum iste iusto laborum nemo nesciunt nulla rem repellendus sapiente similique sit, tenetur unde vero? Dolore laboriosam nesciunt numquam sunt suscipit. Ab autem id minus nobis provident quas quidem ratione voluptates? At aut consequatur, culpa deserunt distinctio dolor dolores earum eligendi exercitationem facere fugiat, hic itaque labore nobis, non numquam obcaecati perspiciatis rerum temporibus velit? Consequatur, culpa cum deserunt dolorum quos sit! Ab beatae delectus ea enim ex fuga hic natus quod reiciendis repudiandae, sapiente sed voluptatem voluptatum? Accusamus, asperiores eaque, earum et eveniet excepturi fugiat iste necessitatibus, nulla praesentium quia totam ut voluptatum. Dicta unde, voluptatibus. Adipisci amet delectus esse exercitationem iure nulla quod soluta tenetur voluptas voluptatum? A adipisci aspernatur assumenda commodi consectetur dignissimos dolore dolorem ducimus eaque eos error est fugit hic ipsam, modi necessitatibus officiis perspiciatis placeat porro provident quis quos veritatis voluptatibus? Alias cumque incidunt modi nisi odit quisquam. Distinctio, quisquam, repudiandae! Alias culpa delectus dignissimos distinctio optio quae recusandae repellat sint? Animi consectetur illo quia ratione sed. Adipisci aliquid aperiam corporis cum dicta error est excepturi id in, nihil nulla optio perspiciatis quaerat, quidem recusandae suscipit velit veritatis, voluptas? Commodi facere molestiae molestias nam repellat. Amet aspernatur delectus distinctio fugit illum ipsa minima nemo, nisi numquam optio perferendis quasi quidem quo reiciendis reprehenderit sequi soluta tenetur totam voluptas voluptates. Distinctio dolorem harum illo maiores perspiciatis quam quisquam quo sit soluta sunt. Adipisci aspernatur consequatur dolor dolorem dolores, dolorum error eum fugit id laboriosam libero minima nobis odio officia possimus, saepe sapiente sunt temporibus, ullam voluptate. Aperiam consequuntur culpa eos excepturi facilis hic inventore ipsum provident suscipit voluptatum. Ab accusamus aperiam consequatur cupiditate dolorem, excepturi laborum minima necessitatibus nihil obcaecati officia porro quibusdam sapiente soluta tempora. Accusamus asperiores dolores ea eligendi error eveniet inventore ipsam ipsum itaque laboriosam natus numquam perferendis quidem, quos sequi tempore voluptatibus? Accusamus asperiores cupiditate earum esse et excepturi exercitationem, facere fugiat fugit itaque magni nesciunt obcaecati perferendis quam, quas quasi quidem recusandae vero. Et in ipsa laborum nam soluta veniam voluptate. Cum laboriosam molestias omnis reprehenderit voluptates! Alias consequuntur cum deserunt dignissimos earum facere id illo nam pariatur quaerat quam sed sunt, tenetur veritatis voluptatum. A aut autem dolores ex explicabo inventore, itaque nam nobis nulla perspiciatis quis ratione repudiandae sequi vel voluptatum. A aliquid animi commodi consequuntur corporis, doloremque ea earum eius eos esse ex mollitia nam nulla optio quas, quia quidem ratione reprehenderit rerum similique sunt tempore tenetur voluptates. Fuga maxime nemo officiis sed. Accusamus aspernatur debitis delectus eius error facilis fugit illum incidunt inventore mollitia officia perspiciatis quis quod tempore vel, vero voluptates. Aliquid asperiores assumenda aut consequatur earum est facilis ipsam labore optio pariatur quis quo similique, sint temporibus veritatis. Aspernatur, dolore excepturi expedita libero magnam nemo nisi placeat? Ab accusantium ad amet dolores, et ullam veritatis. A aliquid aperiam asperiores commodi consequatur culpa dolor esse ex explicabo fugit id impedit ipsam iusto laborum, minus modi, molestiae necessitatibus nobis nostrum obcaecati optio perferendis perspiciatis porro quae quaerat quasi qui quia quibusdam, quidem reprehenderit suscipit tempora tempore velit veritatis vero vitae voluptatibus! Ab accusantium aliquid consectetur consequatur consequuntur delectus distinctio est, illo impedit ipsa laudantium magni molestiae, nostrum placeat quaerat quisquam reiciendis reprehenderit sequi suscipit tempora vero, voluptates voluptatum. Dignissimos dolore, ducimus eos explicabo facilis molestias repellat sapiente tempore. Quaerat quas, voluptatum. Dolores eaque inventore iure quam tempore. Beatae blanditiis consequatur dignissimos exercitationem fugit magnam optio perferendis provident sequi tempore. Amet debitis dolor ducimus expedita ipsam laborum porro! Animi asperiores consequatur debitis dolore earum esse hic iure maiores molestiae obcaecati officia, optio provident quam quis reprehenderit rerum sequi ullam voluptates! Asperiores assumenda modi quidem? Debitis, illum, soluta. Aliquam deserunt dicta doloremque maxime quaerat vero voluptas voluptate. Ab accusantium aspernatur atque, cum cupiditate debitis deserunt dicta ducimus eos est fugiat impedit iure libero necessitatibus omnis perspiciatis placeat possimus provident quis repellat reprehenderit saepe sunt! Assumenda ex ipsa libero minus nesciunt quasi quos repellendus voluptas. Amet, beatae dolore error eum id nemo obcaecati officia perferendis, placeat quae, qui saepe vero. Accusamus aliquam amet cumque, dolorum enim error, incidunt itaque iusto libero magnam quam quibusdam quidem rem sequi soluta suscipit tempora veritatis, voluptatem. Animi blanditiis cupiditate, libero ratione repudiandae totam? Atque aut blanditiis deleniti deserunt doloremque doloribus, error iste, non obcaecati optio quae quo, sint tenetur unde velit? Distinctio eaque iusto laudantium neque odit quae quod, tempora! Atque dolor eligendi maiores nam non similique veritatis. Autem blanditiis culpa eaque excepturi, facere fuga harum iusto magni odio omnis, provident saepe ullam veritatis! A ab aspernatur assumenda aut autem beatae consequatur corporis debitis deserunt distinctio doloribus enim eos expedita fuga harum illo ipsam iste itaque magnam minima necessitatibus nisi, nobis optio praesentium quibusdam ratione repellat totam velit veniam voluptatum? Doloribus hic, laboriosam libero modi nisi voluptates. Commodi corporis cumque, delectus ea excepturi exercitationem iste iure libero officiis omnis perferendis, praesentium quis, quod saepe soluta! Autem cum cumque deleniti, dolorum ea eius error harum inventore ipsa iste itaque, iure modi mollitia nihil nisi, nostrum placeat praesentium quam quas quisquam ratione repudiandae sunt tempora ullam veniam veritatis voluptatibus. A accusantium aspernatur assumenda cum ducimus eaque error, explicabo, illo inventore nam nemo officia omnis praesentium quibusdam quo repellendus repudiandae tempora tenetur totam ut vitae voluptas voluptatibus? Ad deserunt, nihil! Architecto atque commodi consectetur consequatur cumque delectus itaque libero maiores, maxime neque non odio quas repudiandae sit soluta tempora vero voluptate! Hic, libero temporibus! A at atque blanditiis culpa cupiditate deserunt dignissimos doloribus ea fugit, iusto laboriosam laborum molestiae natus nemo perferendis quis saepe sapiente unde? Accusamus alias architecto autem distinctio earum enim expedita facere, fugit iure maxime, nihil nulla optio provident repellat rerum. Commodi consequatur cum delectus dicta earum eos, fuga harum, illum incidunt iste laborum minus mollitia nam natus nulla officiis quaerat quibusdam quis soluta voluptas.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur eveniet molestias praesentium sunt. Aliquid eius error, eveniet excepturi exercitationem inventore maiores necessitatibus ullam voluptatem. Ab dicta eius nulla quos sapiente tempore, voluptas. A accusamus accusantium aperiam at beatae consequatur cum deleniti deserunt dolore dolorem fuga impedit inventore ipsum iste iusto laborum nemo nesciunt nulla rem repellendus sapiente similique sit, tenetur unde vero? Dolore laboriosam nesciunt numquam sunt suscipit. Ab autem id minus nobis provident quas quidem ratione voluptates? At aut consequatur, culpa deserunt distinctio dolor dolores earum eligendi exercitationem facere fugiat, hic itaque labore nobis, non numquam obcaecati perspiciatis rerum temporibus velit? Consequatur, culpa cum deserunt dolorum quos sit! Ab beatae delectus ea enim ex fuga hic natus quod reiciendis repudiandae, sapiente sed voluptatem voluptatum? Accusamus, asperiores eaque, earum et eveniet excepturi fugiat iste necessitatibus, nulla praesentium quia totam ut voluptatum. Dicta unde, voluptatibus. Adipisci amet delectus esse exercitationem iure nulla quod soluta tenetur voluptas voluptatum? A adipisci aspernatur assumenda commodi consectetur dignissimos dolore dolorem ducimus eaque eos error est fugit hic ipsam, modi necessitatibus officiis perspiciatis placeat porro provident quis quos veritatis voluptatibus? Alias cumque incidunt modi nisi odit quisquam. Distinctio, quisquam, repudiandae! Alias culpa delectus dignissimos distinctio optio quae recusandae repellat sint? Animi consectetur illo quia ratione sed. Adipisci aliquid aperiam corporis cum dicta error est excepturi id in, nihil nulla optio perspiciatis quaerat, quidem recusandae suscipit velit veritatis, voluptas? Commodi facere molestiae molestias nam repellat. Amet aspernatur delectus distinctio fugit illum ipsa minima nemo, nisi numquam optio perferendis quasi quidem quo reiciendis reprehenderit sequi soluta tenetur totam voluptas voluptates. Distinctio dolorem harum illo maiores perspiciatis quam quisquam quo sit soluta sunt. Adipisci aspernatur consequatur dolor dolorem dolores, dolorum error eum fugit id laboriosam libero minima nobis odio officia possimus, saepe sapiente sunt temporibus, ullam voluptate. Aperiam consequuntur culpa eos excepturi facilis hic inventore ipsum provident suscipit voluptatum. Ab accusamus aperiam consequatur cupiditate dolorem, excepturi laborum minima necessitatibus nihil obcaecati officia porro quibusdam sapiente soluta tempora. Accusamus asperiores dolores ea eligendi error eveniet inventore ipsam ipsum itaque laboriosam natus numquam perferendis quidem, quos sequi tempore voluptatibus? Accusamus asperiores cupiditate earum esse et excepturi exercitationem, facere fugiat fugit itaque magni nesciunt obcaecati perferendis quam, quas quasi quidem recusandae vero. Et in ipsa laborum nam soluta veniam voluptate. Cum laboriosam molestias omnis reprehenderit voluptates! Alias consequuntur cum deserunt dignissimos earum facere id illo nam pariatur quaerat quam sed sunt, tenetur veritatis voluptatum. A aut autem dolores ex explicabo inventore, itaque nam nobis nulla perspiciatis quis ratione repudiandae sequi vel voluptatum. A aliquid animi commodi consequuntur corporis, doloremque ea earum eius eos esse ex mollitia nam nulla optio quas, quia quidem ratione reprehenderit rerum similique sunt tempore tenetur voluptates. Fuga maxime nemo officiis sed. Accusamus aspernatur debitis delectus eius error facilis fugit illum incidunt inventore mollitia officia perspiciatis quis quod tempore vel, vero voluptates. Aliquid asperiores assumenda aut consequatur earum est facilis ipsam labore optio pariatur quis quo similique, sint temporibus veritatis. Aspernatur, dolore excepturi expedita libero magnam nemo nisi placeat? Ab accusantium ad amet dolores, et ullam veritatis. A aliquid aperiam asperiores commodi consequatur culpa dolor esse ex explicabo fugit id impedit ipsam iusto laborum, minus modi, molestiae necessitatibus nobis nostrum obcaecati optio perferendis perspiciatis porro quae quaerat quasi qui quia quibusdam, quidem reprehenderit suscipit tempora tempore velit veritatis vero vitae voluptatibus! Ab accusantium aliquid consectetur consequatur consequuntur delectus distinctio est, illo impedit ipsa laudantium magni molestiae, nostrum placeat quaerat quisquam reiciendis reprehenderit sequi suscipit tempora vero, voluptates voluptatum. Dignissimos dolore, ducimus eos explicabo facilis molestias repellat sapiente tempore. Quaerat quas, voluptatum. Dolores eaque inventore iure quam tempore. Beatae blanditiis consequatur dignissimos exercitationem fugit magnam optio perferendis provident sequi tempore. Amet debitis dolor ducimus expedita ipsam laborum porro! Animi asperiores consequatur debitis dolore earum esse hic iure maiores molestiae obcaecati officia, optio provident quam quis reprehenderit rerum sequi ullam voluptates! Asperiores assumenda modi quidem? Debitis, illum, soluta. Aliquam deserunt dicta doloremque maxime quaerat vero voluptas voluptate. Ab accusantium aspernatur atque, cum cupiditate debitis deserunt dicta ducimus eos est fugiat impedit iure libero necessitatibus omnis perspiciatis placeat possimus provident quis repellat reprehenderit saepe sunt! Assumenda ex ipsa libero minus nesciunt quasi quos repellendus voluptas. Amet, beatae dolore error eum id nemo obcaecati officia perferendis, placeat quae, qui saepe vero. Accusamus aliquam amet cumque, dolorum enim error, incidunt itaque iusto libero magnam quam quibusdam quidem rem sequi soluta suscipit tempora veritatis, voluptatem. Animi blanditiis cupiditate, libero ratione repudiandae totam? Atque aut blanditiis deleniti deserunt doloremque doloribus, error iste, non obcaecati optio quae quo, sint tenetur unde velit? Distinctio eaque iusto laudantium neque odit quae quod, tempora! Atque dolor eligendi maiores nam non similique veritatis. Autem blanditiis culpa eaque excepturi, facere fuga harum iusto magni odio omnis, provident saepe ullam veritatis! A ab aspernatur assumenda aut autem beatae consequatur corporis debitis deserunt distinctio doloribus enim eos expedita fuga harum illo ipsam iste itaque magnam minima necessitatibus nisi, nobis optio praesentium quibusdam ratione repellat totam velit veniam voluptatum? Doloribus hic, laboriosam libero modi nisi voluptates. Commodi corporis cumque, delectus ea excepturi exercitationem iste iure libero officiis omnis perferendis, praesentium quis, quod saepe soluta! Autem cum cumque deleniti, dolorum ea eius error harum inventore ipsa iste itaque, iure modi mollitia nihil nisi, nostrum placeat praesentium quam quas quisquam ratione repudiandae sunt tempora ullam veniam veritatis voluptatibus. A accusantium aspernatur assumenda cum ducimus eaque error, explicabo, illo inventore nam nemo officia omnis praesentium quibusdam quo repellendus repudiandae tempora tenetur totam ut vitae voluptas voluptatibus? Ad deserunt, nihil! Architecto atque commodi consectetur consequatur cumque delectus itaque libero maiores, maxime neque non odio quas repudiandae sit soluta tempora vero voluptate! Hic, libero temporibus! A at atque blanditiis culpa cupiditate deserunt dignissimos doloribus ea fugit, iusto laboriosam laborum molestiae natus nemo perferendis quis saepe sapiente unde? Accusamus alias architecto autem distinctio earum enim expedita facere, fugit iure maxime, nihil nulla optio provident repellat rerum. Commodi consequatur cum delectus dicta earum eos, fuga harum, illum incidunt iste laborum minus mollitia nam natus nulla officiis quaerat quibusdam quis soluta voluptas.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur eveniet molestias praesentium sunt. Aliquid eius error, eveniet excepturi exercitationem inventore maiores necessitatibus ullam voluptatem. Ab dicta eius nulla quos sapiente tempore, voluptas. A accusamus accusantium aperiam at beatae consequatur cum deleniti deserunt dolore dolorem fuga impedit inventore ipsum iste iusto laborum nemo nesciunt nulla rem repellendus sapiente similique sit, tenetur unde vero? Dolore laboriosam nesciunt numquam sunt suscipit. Ab autem id minus nobis provident quas quidem ratione voluptates? At aut consequatur, culpa deserunt distinctio dolor dolores earum eligendi exercitationem facere fugiat, hic itaque labore nobis, non numquam obcaecati perspiciatis rerum temporibus velit? Consequatur, culpa cum deserunt dolorum quos sit! Ab beatae delectus ea enim ex fuga hic natus quod reiciendis repudiandae, sapiente sed voluptatem voluptatum? Accusamus, asperiores eaque, earum et eveniet excepturi fugiat iste necessitatibus, nulla praesentium quia totam ut voluptatum. Dicta unde, voluptatibus. Adipisci amet delectus esse exercitationem iure nulla quod soluta tenetur voluptas voluptatum? A adipisci aspernatur assumenda commodi consectetur dignissimos dolore dolorem ducimus eaque eos error est fugit hic ipsam, modi necessitatibus officiis perspiciatis placeat porro provident quis quos veritatis voluptatibus? Alias cumque incidunt modi nisi odit quisquam. Distinctio, quisquam, repudiandae! Alias culpa delectus dignissimos distinctio optio quae recusandae repellat sint? Animi consectetur illo quia ratione sed. Adipisci aliquid aperiam corporis cum dicta error est excepturi id in, nihil nulla optio perspiciatis quaerat, quidem recusandae suscipit velit veritatis, voluptas? Commodi facere molestiae molestias nam repellat. Amet aspernatur delectus distinctio fugit illum ipsa minima nemo, nisi numquam optio perferendis quasi quidem quo reiciendis reprehenderit sequi soluta tenetur totam voluptas voluptates. Distinctio dolorem harum illo maiores perspiciatis quam quisquam quo sit soluta sunt. Adipisci aspernatur consequatur dolor dolorem dolores, dolorum error eum fugit id laboriosam libero minima nobis odio officia possimus, saepe sapiente sunt temporibus, ullam voluptate. Aperiam consequuntur culpa eos excepturi facilis hic inventore ipsum provident suscipit voluptatum. Ab accusamus aperiam consequatur cupiditate dolorem, excepturi laborum minima necessitatibus nihil obcaecati officia porro quibusdam sapiente soluta tempora. Accusamus asperiores dolores ea eligendi error eveniet inventore ipsam ipsum itaque laboriosam natus numquam perferendis quidem, quos sequi tempore voluptatibus? Accusamus asperiores cupiditate earum esse et excepturi exercitationem, facere fugiat fugit itaque magni nesciunt obcaecati perferendis quam, quas quasi quidem recusandae vero. Et in ipsa laborum nam soluta veniam voluptate. Cum laboriosam molestias omnis reprehenderit voluptates! Alias consequuntur cum deserunt dignissimos earum facere id illo nam pariatur quaerat quam sed sunt, tenetur veritatis voluptatum. A aut autem dolores ex explicabo inventore, itaque nam nobis nulla perspiciatis quis ratione repudiandae sequi vel voluptatum. A aliquid animi commodi consequuntur corporis, doloremque ea earum eius eos esse ex mollitia nam nulla optio quas, quia quidem ratione reprehenderit rerum similique sunt tempore tenetur voluptates. Fuga maxime nemo officiis sed. Accusamus aspernatur debitis delectus eius error facilis fugit illum incidunt inventore mollitia officia perspiciatis quis quod tempore vel, vero voluptates. Aliquid asperiores assumenda aut consequatur earum est facilis ipsam labore optio pariatur quis quo similique, sint temporibus veritatis. Aspernatur, dolore excepturi expedita libero magnam nemo nisi placeat? Ab accusantium ad amet dolores, et ullam veritatis. A aliquid aperiam asperiores commodi consequatur culpa dolor esse ex explicabo fugit id impedit ipsam iusto laborum, minus modi, molestiae necessitatibus nobis nostrum obcaecati optio perferendis perspiciatis porro quae quaerat quasi qui quia quibusdam, quidem reprehenderit suscipit tempora tempore velit veritatis vero vitae voluptatibus! Ab accusantium aliquid consectetur consequatur consequuntur delectus distinctio est, illo impedit ipsa laudantium magni molestiae, nostrum placeat quaerat quisquam reiciendis reprehenderit sequi suscipit tempora vero, voluptates voluptatum. Dignissimos dolore, ducimus eos explicabo facilis molestias repellat sapiente tempore. Quaerat quas, voluptatum. Dolores eaque inventore iure quam tempore. Beatae blanditiis consequatur dignissimos exercitationem fugit magnam optio perferendis provident sequi tempore. Amet debitis dolor ducimus expedita ipsam laborum porro! Animi asperiores consequatur debitis dolore earum esse hic iure maiores molestiae obcaecati officia, optio provident quam quis reprehenderit rerum sequi ullam voluptates! Asperiores assumenda modi quidem? Debitis, illum, soluta. Aliquam deserunt dicta doloremque maxime quaerat vero voluptas voluptate. Ab accusantium aspernatur atque, cum cupiditate debitis deserunt dicta ducimus eos est fugiat impedit iure libero necessitatibus omnis perspiciatis placeat possimus provident quis repellat reprehenderit saepe sunt! Assumenda ex ipsa libero minus nesciunt quasi quos repellendus voluptas. Amet, beatae dolore error eum id nemo obcaecati officia perferendis, placeat quae, qui saepe vero. Accusamus aliquam amet cumque, dolorum enim error, incidunt itaque iusto libero magnam quam quibusdam quidem rem sequi soluta suscipit tempora veritatis, voluptatem. Animi blanditiis cupiditate, libero ratione repudiandae totam? Atque aut blanditiis deleniti deserunt doloremque doloribus, error iste, non obcaecati optio quae quo, sint tenetur unde velit? Distinctio eaque iusto laudantium neque odit quae quod, tempora! Atque dolor eligendi maiores nam non similique veritatis. Autem blanditiis culpa eaque excepturi, facere fuga harum iusto magni odio omnis, provident saepe ullam veritatis! A ab aspernatur assumenda aut autem beatae consequatur corporis debitis deserunt distinctio doloribus enim eos expedita fuga harum illo ipsam iste itaque magnam minima necessitatibus nisi, nobis optio praesentium quibusdam ratione repellat totam velit veniam voluptatum? Doloribus hic, laboriosam libero modi nisi voluptates. Commodi corporis cumque, delectus ea excepturi exercitationem iste iure libero officiis omnis perferendis, praesentium quis, quod saepe soluta! Autem cum cumque deleniti, dolorum ea eius error harum inventore ipsa iste itaque, iure modi mollitia nihil nisi, nostrum placeat praesentium quam quas quisquam ratione repudiandae sunt tempora ullam veniam veritatis voluptatibus. A accusantium aspernatur assumenda cum ducimus eaque error, explicabo, illo inventore nam nemo officia omnis praesentium quibusdam quo repellendus repudiandae tempora tenetur totam ut vitae voluptas voluptatibus? Ad deserunt, nihil! Architecto atque commodi consectetur consequatur cumque delectus itaque libero maiores, maxime neque non odio quas repudiandae sit soluta tempora vero voluptate! Hic, libero temporibus! A at atque blanditiis culpa cupiditate deserunt dignissimos doloribus ea fugit, iusto laboriosam laborum molestiae natus nemo perferendis quis saepe sapiente unde? Accusamus alias architecto autem distinctio earum enim expedita facere, fugit iure maxime, nihil nulla optio provident repellat rerum. Commodi consequatur cum delectus dicta earum eos, fuga harum, illum incidunt iste laborum minus mollitia nam natus nulla officiis quaerat quibusdam quis soluta voluptas.